<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body class="container-fluid row justify-content-center">
    <div class="col-6 mt-5 bg-secondary">

        <h2>Registration Form</h2>
        <form action="register.php" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">First Name</span>
            <input type="text" name="first_name" class="form-control" placeholder="Enter your first name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Last Name</span>
            <input type="text" name="last_name" class="form-control" placeholder="Enter your last name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Course of Study</span>
            <input type="text" name="course" class="form-control" placeholder="Enter your course" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Duration</span>
            <input type="text" name="duration" class="form-control" placeholder="Enter duration" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Certificate ID</span>
            <input type="text" name="certificate_id" class="form-control" placeholder="Enter your certificate ID" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-success" name="submit">Submit</button>
        </form>


    </div>
  
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>